{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TechPoll</title>
    {#  Bootstrap CDN  #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"
    >
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"
    >
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="{% static 'stage.css' %}">
    <link rel="stylesheet" href="{% static 'main.css' %}">
    <script src="{% static 'steps.js' %}"></script>
    <script src="{% static 'tooltip.js' %}"></script>
</head>
<body>
    {% include 'allActions/navbar.html' %}
    <ul class="nav nav-tabs">
        {% for section in sections %}
            {% include 'allActions/section.html' %}
        {% endfor %}
    </ul>
    <div class="md-stepper-horizontal black">
        {% for stage in stages %}
            {% if stage_s == stage %}
                <div class="md-step active">
                    {% include 'allActions/stage.html' %}
                </div>
            {% else %}
                <div class="md-step">
                    {% include 'allActions/stage.html' %}
                </div>
            {% endif %}
        {% endfor %}
    </div>
    <div class="panel panel-default">
        <form action="{% url 'poll_page' stage_id=stage_id %}" method="post">
            {% csrf_token %}
            <table class="table">
                <tr>
                    <th></th>
                    <th>Like to do, Y/N</th>
                    <th>Self estimate, Grade</th>
                </tr>
                {% for question in questions %}
                    {% include 'allActions/table.html' %}
                {% endfor %}
            </table>
            <div class="btnNavigation">
                <input type="button" class="btn btn-scale btn-scale-asc" id="previousStage" onclick="change_url_previous();" value="Previous">
                <input type="submit" class="btn btn-scale btn-scale-asc" id="nextStage" value="Submit">
            </div>
        </form>
    </div>
    {% include 'allActions/footer.html' %}
</body>
</html>