html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 60px;
}
.body_main{
    background-color: #323232;
}
#txt_h1{
    color: #9d9d9d;
}
.btn_log{
    background-color: #9d9d9d;
    color: #333333;
}
.btn_log:hover{
    background-color: #9d9d9d63;
    color: #9d9d9d;
}
#footer {
    background-color: #333333;
    color: #9d9d9d;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
    padding-top: 15px;
}
body > .container {
    padding: 60px 15px 0;
}
.container .text-muted {
    margin: 20px 0;
}
.panel-default{
    margin: auto;
    width: 70%;
    border: 0px;
    padding: 10px;
}
.page_footer{
    background-color: #333333;
    color: #9d9d9d;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    margin: 0 auto;
}
.page_footer .footer{
    margin: 15px;
}
.btn-scale-asc {
	background-color: #333;
	color: #9d9d9d;
}
.btn-scale-asc:hover{
    background-color: #9d9d9d;
    color: #333
}
.btnNavigation{
    margin-top: 25px;
}
#nextStage{
    float: right;
}
.btn_like{
    background-color: #33333317;
}
.btn_like:hover{
    background-color: #3333337a;
}
.btn-group > label.active{
    background-color: #9d9d9d;;
    color: #333333; !important;
}
